body {
  background: rgb(143, 87, 196);
  font: normal 15pt arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  color: blueviolet;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.219);
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}
